html {
    background-color: #000000;
}

* {
    box-sizing: border-box;
    transition: 0.15s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* width: 100%;
    height: 100vh; */
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    min-width: 1000px;
}

img {
    pointer-events: none;
}

header {
    margin: 0 auto;
	width: 100%;
	/* max-width: 1400px; */
    height: 480px;
    padding-top: 60px;
    background-color: #000000;
}

header > .container {
    margin: 0 auto;
	width: calc(100% - 120px);
	max-width: 1200px;
    height: 100%;
    position: relative;
}

.container > .zunikun {
    position: absolute;
    right: 0;
    bottom: -80px;
}

main {
    padding-top: 40px;
    position: relative;
    width: 100%;
    /* width: calc(100% - 64px);
    max-width: 1600px; */
    margin: 0 auto;
    height: 1000px;
    /* background-color: #e4ebf1; */
    background-color: #ffffff;
    /* border-radius: 16px; */
}

main > .container {
    margin: 0 auto 60px auto;
    width: calc(100% - 120px);
	max-width: 1200;
    height: 100%;
    /* background-color: tomato; */

}

.gallery {
    width: 100%;
}

.gallery-header {
    /* display: inline-block; */
    display: flex;
    width: fit-content;
    border-bottom: 12px solid #7700ff;
    /* border-radius: 24px; */
    /* background-color: #ffe600; */
    /* background-color: #00ff26; */
    padding: 0px 0px;
    /* transform: rotate(-3deg) translateY(32px); */
    position: relative;
    margin: 0 0 56px 0;
    z-index: 1;
    /* height: 96px; */
    align-items: center;
    overflow: hidden;
    /* transform: rotate(-2deg); */
    /* box-shadow: 8px 8px #ffffff; */
    /* transform: translateY(32px); */
}

.gallery-header > h2 {
    margin: -4px 0px;
    font-size: 52px;
    font-weight: 800;
    transform: translateY(-2px);
    letter-spacing: -3px;
}

.gallery-header > img {
    /* position: absolute;
    left: -24px;
    bottom: -10px; */
    margin-right: 18px;
}

.works {
    position: relative;
    border-radius: 16px;
    display: flex;
    gap: 36px;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    /* background-color: #e2e2e2; */
}

.work {
    /* background-color: skyblue; */
    width: 100%;
    border-radius: 8px;
    transform: rotate(-1deg);
    /* border: 1px solid #ffffff; */
}

.work:hover {
    transform: rotate(0deg);
}

.work-img-container {
    position: relative;
    width: 100%;
    height: 300px;
    box-shadow: 0px 8px 24px 4px #00000035;
    border: 1px solid #ffffff;
    /* transition-duration: 0.1s; */
    border-radius: 8px;
    overflow: hidden;
    transform-origin: top;
}

.work:hover .work-img-container {
    transform: translateY(-12px);
    /* border: 1px solid #7700ff; */
    /* box-shadow: 0px 12px #7700ff, 0px 8px 48px 12px #7700ff35, 0px 8px 48px 12px #ffffff inset; */
    box-shadow: 0px 8px 48px 12px #7700ff35, 0px 8px 48px 12px #ffffff inset;
}

.shine {
    position: absolute;
    transform-origin: top right;
    top: 50%;
    left: -200%;
    opacity: 0;
    transform: translateY(-50%);
    height: calc(100% + 250px);
    pointer-events: none;
    /* transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1); */
}

.work:hover .shine {
    opacity: 1;
    animation: shine-anim 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    animation-delay: 0.1s;
}

@keyframes shine-anim {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.mask {
    background-color: #ffffff;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    /* transition-duration: 0.1s; */
}

.work:hover .mask {
    opacity: 0.6;
}

.work-tag {
    position: absolute;
    top: 0;
    left: 24px;
    padding: 0 16px;
    height: 48px;
    background-color: #ffffff;
    /* background: repeating-linear-gradient(-57deg, rgba(242, 231, 255, 1), rgba(242, 231, 255, 1) 6px, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 12px); */
    color: #000000;
    font-size: 24px;
    line-height: 48px;
    font-weight: 800;
    border-radius: 0 0 8px 8px;
    transform-origin: top;
    transform: scaleY(0);
    transition-delay: 0.1s;
    /* transition-duration: 0.1s; */
}

.work:hover .work-tag {
    transform: scaleY(1);
}

.desc {
    position: relative;
    display: block;
    width: 100%;
    /* height: 64px; */
    height: 56px;
    background-color: #000000;
    padding: 8px 18px;
    color: #ffffff;
    margin: 16px 0;
    border-radius: 8px;
    transform-origin: top left;
    overflow: hidden;
    background-image: repeating-linear-gradient(-245deg, rgba(102, 0, 218, 0), rgba(102, 0, 218, 0) 12px, rgba(119, 0, 255, 0) 0, rgba(119, 0, 255, 0) 24px);
    /* transition-delay: 0.1s; */
    transition-duration: 0.2s;
}

.desc > h3 {
    font-size: 24px;
    /* transition-delay: 0.1s; */
    margin: 0;
    transform: linear;
}

.desc > h4 {
    display: none;
}

.work:hover .desc {
    /* background-color: #7700ff; */
    background-image: repeating-linear-gradient(-245deg, rgba(102, 0, 218, 1), rgba(102, 0, 218, 1) 12px, rgba(119, 0, 255, 1) 0, rgba(119, 0, 255, 1) 24px);
    /* border: 8px solid #000000; */
    border-radius: 16px;
    width: 100%;
    /* transform: scale(1.3); */
    height: 190px;
    padding-right: 25%;
}

.work:hover .desc > h3 {
    display: none;
}

.work:hover .desc > h4 {
    margin: 0;
    display: block;
    font-size: 36px;
    font-weight: 800;
    text-shadow: 0 0 8px #000000;
}

.desc > p {
    text-shadow: 0 0 8px #000000;
}

.desc > img {
    display: none;
    height: 240px;
    position: absolute;
    bottom: -200px;
    right: -60px;
    z-index: -1;
}

.work:hover .desc > img {
    display: block;
    bottom: -40px;
}